@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Raleway;
  font-size: 12px;
  color: #000;
}

a {
  text-decoration: none;
  color: #000;
}
p{
  margin:3px 0 0 0;
}

h3{
  margin: 5px 0px;
}
h4{
  margin:5px;
}
.header {
  /*border: 1px solid black;*/
  width: 98%;
  margin: 0 auto;
}

.nav-box {
 /* border: 1px solid orange;*/
  
  display: flex;
  margin-bottom: 0;
}


.logo {
 /* border: 1px solid blue;*/
 padding-left: 15px;
  width: 70%;
}

.logo img {
  padding-top: 1.8%;
  height: 40px;
}

.nav-box ul {
 /* border: 1px solid blue;*/
  list-style: none;
  display: flex;
}

.nav-box ul li {
 /* border: 1px solid blue;*/
  padding-top: 35px;
  text-align: center;
  width: 195px;
  height: 40px;
}

.nav-box ul li:hover {
  border-top: 3px solid #0065FC;
  color: #0065FC;
}

form{
  margin: 0;
  width: 100%;
  padding-left: 15px;
}

.search-box {
  /*border: 2px dashed red;*/
  width: 98%;
}
  

.search-head{
  height: 60px;
  width: 92%;
}
.search-body{
  width: 90%;
  padding: 10px 2px;
  height: 40px;
  display: flex;
}


.search-input input{
  width: 180px; 
  height: 40px;
  border-radius:0px;
  padding-left: 20px;
  border:1px solid #F2F2F2;
  font-weight: bold;
}
.search-input input:hover{
  background-color: #F2F2F2 !important;

}
.search-pin {
  background-color: #F2F2F2;
  color: black;
  padding-top: 10px;
  width: 35px;
  
  text-align: center;
  font-size: 10px  ;
  border-radius: 12px 0px 0px 12px;
}
.search-button {
  background-color: #0065FC;
  color: white;
  text-align: center;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  padding: 10px 20px;
  border: none;
}

.filters{
  display: flex;
}

.filters-header{
  padding: 14px 0 14px 14px;
}
.filters-body {
  /*border: 1px solid orange;*/
  padding: 10px 0;
  width: 100%;
display: flex;
}
.filter-box{
  min-width: 110px;
  border: 1px solid #ccc;
  border-radius:25px ;
  height: 30px;
  display: flex;
  margin-left: 20px;
}
.filter-box:hover{
  border: 1px solid #DEEBFF;
  background-color:#DEEBFF ;
}
.filter-box div{
  text-align: center;
  padding-top: 8px;
  min-width: 50px;
  display: block;
  font-weight: bold;
  margin: 0 10px;
}


.filter-box .fas{
  background-color: #DEEBFF;
  color: #0065FC;
  height: 21px;
  width: 35px;
  margin-top: -1;
  margin-left: -1;
  border-radius: 15px;
  padding-top: 10px;
  text-align: center;
}
.filter-footer{ 
  margin-top: 10px;
  display: flex;
}
  .footer-icon{   /*icon needs to float left and have text underneath*/
    width:20px ;
    border-radius: 50%;
    border-color: #F2F2F2;
    margin: 5 0px 13px 13px }
    .footer-text{
      max-width:23% ;
    }

input:hover {
  background-color: #DEEBFF;
}
 



.main {
  
  width: 98%;
  margin: 0 auto;
  display: block;
}

.accomodations {

  padding: 1%;
  display: flex;
}

.accomodation-list {
  border-radius: 15px;
  background-color: #F2F2F2;
  min-height: 250px;
  width: 70%;
  margin-right: 25px;
  padding-left: 2%;
}

.accomodation-title {
  width: 98%;  
  margin:25px 0 20px 10px;
}

.accomodation-boxes {
  padding-right: 2%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.accomodation-box {
  background-color: white;
  border-radius: 15px;
  width: 27%;
  height: 170px;
  padding: 6px;
  margin-bottom: 3%;
  box-shadow: 2px 2px 10px grey;   
}
.accomodation-picture{
  width:100%;
  height:65%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

}
.accomodation-box:hover{
  background-color: #F2F2F2;
  width: 29%;
  height: 173px;
} 
#carnebiere {
  background-image: url(../images/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg);

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#du-port {
  background-image: url(../images/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#mouettes {
  background-image: url(../images/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#de-la-mer {
  background-image: url(../images/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#le-panier {
  background-image: url(../images/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#amina {
  background-image: url(../images/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.accomodation-description {
  
  
  padding: 2%;
}
.accomodation-description i{
  font-size: 10px;
}

.accomodation-footer {
  padding: 2%;
}


.most-popular {
  border-radius: 10px;
  padding: 0px 2%;
  background-color: #F2F2F2;
  min-height: 200px;
  width: 29%;
  flex-wrap: wrap;
  justify-content: space-around;
   
}

.most-popular-title {/*
  border: 1px solid blue;*/
  margin:25px 0 5px 0;
  display: flex;
  max-width: 95%;
  gap:60%;
  white-space: nowrap;
  text-align-last: right;
}
 

.most-popular-box {
  background-color: white;
  border-radius: 15px;
  margin: 20px 0px 30px 0px;
  width: 95%;   
  display: flex;
  text-align: left;
  box-shadow: 2px 2px 10px grey; 
}
.picture{
  width: 45%;
  height: 120px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  margin:5px;
   
}
.m-title{
   
  height: 40px;
}
.m-desc{
  
  height: 50px;
}

 .most-popular-box:hover {
  background-color: #F2F2F2;
  width: 98%;

} 

#morning-sun {
  background-image: url(../images/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#au-coeur {
  background-image: url(../images/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#tout-bleu {
  background-image: url(../images/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}



.most-popular-box>.description {
  padding: 0.7vw;
  height: 70%;
  width: 70%;
  text-align: left;
}

.fa-star {
  
  background-color: white;
  color: #0065FC;
  border: 0.5vw;
  position: static;
}

.greystar {
  color: grey;
}



.activities {
 /* border: 1px solid orange;*/
  min-height: 300px;
  padding-top: 3;
  display: flex;
  flex-wrap: wrap;
}

.activities-title {
/* border: 1px solid blue;*/
  margin: 4% 1% 1% 1%;
  padding-left: 2vw;
  width: 100%;
  max-height: 35px;
}

.activity-boxes {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
 }

.activity-box {
  /* border: 1px solid blue;*/
  border-radius: 13px;
  padding-bottom: 1px;
  margin: 1vw 1.7vw;
  width: 20vw;
  height: 30vw;
  display: inline-block;
  
  box-shadow: 2px 2px 10px grey; 
}


.activity-box>.activity-box {
 /* border: 1px solid blue;*/
  border-radius: 13px;
  margin: 0px 1px 1vw 0px;
  width: 100%;
  height: 45%;
  overflow: visible;
}
.activity-parent{
  border-color: white !important;
  box-shadow: none !important;
}

#col-1 .activity-box:nth-child(1) {
  margin-bottom:14%;
  height: 50%;
}
#col-1 .activity-box:nth-child(2) {
  margin-bottom:20px;
  height: 40%;
}

#col-2 .activity-box:nth-child(1) {
  margin-bottom:14%;
  height: 50%;
}
#col-2 .activity-box:nth-child(2) {
  margin-bottom:20px;
  height: 40%;
}
#old-port {
  background-image: url(../images/activites/4_small/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 85%;
  padding: 1%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

#calanques {
  background-image: url(../images/activites/4_small/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 85%;
  padding: 1%;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#pomegues {
  background-image: url(../images/activites/4_small/paul-hermann-QFTrLdQIRhI-unsplash.jpg);
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
  height: 74%;
  padding: 1%;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#frioul {
  background-image: url(../images/activites/4_small/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg);
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
  height: 64%;
  padding: 1%;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#notre-dame {
  background-image: url(../images/activites/4_small/florian-wehde-xW9e8gdotxI-unsplash.jpg);
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
  height: 74%;
  padding: 1%;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#longchamp {
  background-image: url(../images/activites/4_small/lena-paulin-wH2-EJoDcV0-unsplash.jpg);
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
  height: 64%;
  padding: 1%;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.footer {
  /*border: 1px solid black;*/
  background-color: #F2F2F2;
  height: 170px;
  width: 98%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

.footer-box {
  /*border: 1px solid blue;*/
  padding: 3%;
  width: 30%;
  text-align: left;
}

.footer-box ul {
  list-style: none;
}

@media all and (max-width: 767px) {
  .header {
    /*border: 1px solid black;*/
    width: 100%;}
  .nav-box {
    flex-wrap: wrap;
  }
  .logo{
     /*border: 2px dotted green;*/
    width: 90%;
   padding: 0% 30% 0% 42%;
  }
  .nav{
    min-width: 100% !important;
  }
  .nav-box ul li{
    padding-top: 15px;
    height: 30px;
    width: 50% !important;
    margin-bottom: 5px;
  }
  .nav-box ul li:hover {
    border-top: none !important;
    border-bottom: 3px solid #0065FC;
    color: #0065FC;
  }

  .search{
    justify-content: space-around;
  }
  
  .search-head{
    width: 85%;
    /*border: 2px dotted black;*/
    height: auto;
    padding: 5px;  
  }
  .search-body{
    /*border: 2px dotted black;*/
    padding: 10px 0 10px 2px;
    max-height: 40px;
    display: flex;
  }
  .search-input{
    width: 35%;
    min-width: 140px;
    max-width: 180px;
  }
  .search-input input{
    width: 100%;
  }


  .filters{
    display: flex;
    flex-wrap: wrap;
    padding-left: 7px;
  }
  
  .filters-header{
    padding: 14px 0 5px 14px;
    width: 100%;
  }
  .filters-body {
    padding-top: 0;
    display: flex;
  flex-wrap: wrap;
  }
  .filter-box{
    margin: 5px;
  }

  .filter-box:nth-child(4){
   margin-right: 50px;
   padding-right: 22px;
  }
  .filter-box:nth-child(3){
    padding-right: 13px;
   }
  .filter-box:nth-child(2){
   margin-right: 50px;
  }
  .filter-box:nth-of-type(1){
  order: 1;
  }
  .filter-box:nth-of-type(3){
    order: 2;
    }
    .filter-box:nth-of-type(2){
      order: 3;
      }
      .filter-box:nth-of-type(4){
        order: 4;
        }

  .filter-footer{
    width: 100%;
    padding-left: 4px;
  }
  .footer-text{
    max-width: 60%;
  }

    
      
.main {  
width: 100%;}
.accomodations {
  padding: 1%;
  display: flex;
  flex-wrap: wrap-reverse;
}

.most-popular {
  border-radius: 0px;
  padding: 0px 2%;
  min-height: 200px;
  width: 100%;   
}

.accomodation-list {
  border-radius: 0px;
  background-color: white;
  min-height: 250px;
  width: 100%;
  margin-right: 0px;
  padding-left: 2%;
}

.accomodation-box {
    width: 98%;
  height: 175px;
  padding: 6px;
  margin-bottom: 3%;
  box-shadow: 2px 2px 10px grey;   
}
.accomodation-picture{
  width:99%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-right: 2px;
}
.accomodation-box:hover{
  background-color: #F2F2F2;
  width: 99%;
  height: 177px;
} 
.activity-box{
  width: 98%;
  height: 175px;
  margin-bottom: 20px !important;
}



.activity-parent{
  height: 360px !important;
}

#old-port {
  height: 75%;
}

#calanques {
  height: 75%;
}

#pomegues {
  height: 75%;
}

#frioul {
  height: 75%;
}

#notre-dame {
  height: 75%;
}

#longchamp {
  height: 75%;
}


.footer {
  
  height: auto;
  width: 100%;
  display: flex;
 flex-wrap: wrap;
}

.footer-box {
  padding: 3%;
  width: 100%;
  text-align: left;
  padding-left: 5%;
}

}

@media all and (min-width: 768px) and (max-width: 991px){
  
}
